# General
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
Icon[]
.venv/
env/
venv/
ENV/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.vscode/settings.json
cspell.json
templates.html

# Secrets
*.pem
*.key
.env
.env.local
.env.*.local
aws-exports.js
Michael_Burbank_Cloud_Resume_Challenge.pdf
