name: Deploy to AWS S3 Bucket

on:
    push:
        branches:
            - main # Pushes to main branch will trigger the workflow to run.

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ secrets.AWS_REGION}}

            - name: Sync files to S3 bucket
              run: aws s3 sync ./website s3://${{ secrets.S3_BUCKET_NAME }} --delete

            - name: Output website URL
              run: |
                  echo "Website URL: http://${{ secrets.S3_BUCKET_NAME }}.s3-website-${{ secrets.AWS_REGION }}.amazonaws.com"

            - name: Invalidate CloudFront Distribution
              uses: chetan/invalidate-cloudfront-action@v2
              with:
                distribution-id: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
                paths: "/*"
                